body {
  background-image: url(asset-path("mainbkgr2.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.main {

  padding-top: 20px;
}
.top-menu {
  font-size: 20px;
  background-color: #403C1B;
  padding: 5px;
  display: flex;
  justify-content: center;
  #border-bottom: 1px solid #ffffff;
  opacity: 0.7;
  color:#827D57;

}
.top-menu-item {
  display: inline;
  margin: 0px 40px 0px 40px;
  -background-color: #c0c0c0;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  line-height: 20px;
  vertical-align: middle;
}

.top-menu-item:hover {
  background-color: #ffffff;
  color: #403C1B;
}



 h1 {
  padding: 7px;
  border: 2px solid #ffffff;  
  background-color: #403C1B;
  border-radius: 25px;
  margin: 15px;
  color: #827D57;
 }

.phone-frame {
  text-align: center;

  max-width: 500px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 5px solid #827D57;
  opacity: 0.8;
}
.menu-screen{
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-item {
  margin: 15px;
  width: 130px;
  height: 130px;
  background-color: #403C1B;
  border-radius: 25px;
  line-height: 130px;
  vertical-align: middle;
  border: 2px solid #ffffff;
  opacity: 0.7;
  color:#ffffff;

}
.menu-item:hover {
  background-color: #ffffff;
  color:#403C1B;
}


.bottom-menu  {
  border-top: 1px solid #636366;
  background-color: #403C1B;
  opacity:0.7;
  color:#ffffff;
}
ul {
  list-style-type: none;
  padding-bottom: 30px;
}
ul li {
  display: inline-block;
  margin: 7px;
  padding: 5px;
}