body {
  background-color: white;

}
.main {
  margin: auto;
  background-color: lightblue;
  padding-top: 20px;
}
#title {
  background-color: white;
  border-radius: 25px;
  width: 500px;
  margin: auto;
}
.main div h1 {
  text-align: center;
}

.menu {
  background-color: #c0c0c0;
}
.menu table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 40px 40px;
}
.menu table td {
  width:130px;
  height: 130px;
  background-color: white;
  text-align: center;
  border-radius: 25px;
}

.bottom-menu ul {
  border-top: 1px solid #636366;
  list-style: none;
}

.bottom-menu li {
  font-family: 'Open Sans', sans-serif;
  display: inline;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.bottom-menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}