<!DOCTYPE html>
<html>
<head>
  <title>fiRst</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
	<div>
		<div>
		<h1>Abracadabra! What else are you especting to see here?</h1>
		</div>

<%= yield %>

</body>
</html>