<!DOCTYPE html>
<html>
<head>
  <title>fiRst</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
	<div class="main">
		<div>
		<h1>Moya koxana zhinka Mariia naylipsha v sviti! :*</h1>
		</div>
	</div>
	<div class="heart">
		<img src="http://www.heartyoursmile.co.uk/assets/images/hearts-dental-1.png" />
	</div>
<%= yield %>

</body>
</html>