<!DOCTYPE html>
<html>
<head>
  <title>fiRst</title>
  <!--<link href="assets/home.css" rel="stylesheet"> !-->
 <%= stylesheet_link_tag 'default', media: 'all', 'data-turbolinks-track' => true %> 
</head>
<body>
 <div class="top-menu">
  <div class="top-menu-item">
    WHAT IS THIS?
  </div>
  <div class="top-menu-item img1">
  </div>
  <div class="top-menu-item">
    <span>COOL</span>
    <span>NOT COOL</span>
  </div>
  <div class="top-menu-item img2">
  </div>
  <div class="top-menu-item">
  	WHY AM I HERE?
  </div>
  </div>
	<div class="main">
	    <div class="phone-frame">
      <div id='title'>
		<h1>Esto ist eine test app</h1>
		</div>
	    <div class="menu-screen">

	        <div class="menu-item">About</div>
	        <div class="menu-item">Blog</div >
	        <div class="menu-item">Ask</div>
	        <div class="menu-item">Koxana</div>
	        <div class="menu-item">Family</div>
	        <div class="menu-item">Gallery</div>
	        <div class="menu-item">Shop</div>
	        <div class="menu-item">Apps</div>
	        <div class="menu-item">Contact</div>
  
	    </div>
	    </div>
      <br><br>
	    <div class='bottom-menu'> 
      
	    <div>
	    	<ul>
	    		<li>Created</li>
	    		<li>Terms</li>
	    		<li>About</li>
	    		<li>Learn more</li>
	    		<li>Contact</li>
	    		<li>All Rights Reserved</li>
	    	</ul>
	    </div>
      </div>
  </div>
</body>
</html>