<body>
	<div class="main">
		<div id='title'>
		<h1>Esto ist eine test app</h1>
		</div>
  <div>
    <div class="menu">
    <table>
      <tr>
        <td>About</td>
        <td>Blog</td>
        <td>Ask</td>
      </tr>
      <tr>
        <td>Koxana</td>
        <td>Family</td>
        <td>Gallery</td>
      </tr>
      <tr>
        <td>Shop</td>
        <td>Apps</td>
        <td>Contact</td>
      </tr>    
    </table>
    </div>
    <div class='bottom-menu'> 
      <ul>
        <li>created</li>
        <li>Terms</li>
        <li>About</li>
        <li>Learn more</li>
        <li>Contact</li>
        <li>All right reserved</li>
      </ul>
    </div>
  </div>
</body>