<!DOCTYPE html>
<html>
<head>
  <title>fiRst</title>
  <link href="assets/home.css" rel="stylesheet">
  <!-- =<%= stylesheet_link_tag 'default', media: 'all', 'data-turbolinks-track' => true %> !-->
</head>
<body>
	<div class="main">
		<div id='title'>
		<h1>Esto ist eine test app</h1>
		</div>
	    <div class="phone-frame">
	    <div class="menu-screen">

	        <div class="menu-item">About</div class="menu-item">
	        <div class="menu-item">Blog</div class="menu-item">
	        <div class="menu-item">Ask</div class="menu-item">
	        <div class="menu-item">Koxana</div class="menu-item">
	        <div class="menu-item">Family</div class="menu-item">
	        <div class="menu-item">Gallery</div class="menu-item">
	        <div class="menu-item">Shop</div class="menu-item">
	        <div class="menu-item">Apps</div class="menu-item">
	        <div class="menu-item">Contact</div class="menu-item">
  
	    </div>
	    </div>
	    <div class='bottom-menu'> 
	      <span>Created</span>
	      <span>Terms</span>
	      <span>About</span>
	      <span>Learn more</span>
	      <span>Contact</span>
	      <span>All right reserved</span>
	    </div>
  </div>
</body>
</html>