<!DOCTYPE html>
<html>
<head>
  <title>fiRst</title>
  <link href="assets/home.css" rel="stylesheet">
  <!-- =<%= stylesheet_link_tag 'default', media: 'all', 'data-turbolinks-track' => true %> !-->
</head>
<body>
	<div class="main">
		<div id='title'>
		<h1>Esto ist eine test app</h1>
		</div>
	    <div class="menu">
	    <table>
	      <tr>
	        <td>About</td>
	        <td>Blog</td>
	        <td>Ask</td>
	      </tr>
	      <tr>
	        <td>Koxana</td>
	        <td>Family</td>
	        <td>Gallery</td>
	      </tr>
	      <tr>
	        <td>Shop</td>
	        <td>Apps</td>
	        <td>Contact</td>
	      </tr>    
	    </table>
	    </div>
	    <div class='bottom-menu'> 
	      <span>Created</span>
	      <span>Terms</span>
	      <span>About</span>
	      <span>Learn more</span>
	      <span>Contact</span>
	      <span>All right reserved</span>
	    </div>
  </div>
</body>
</html>