<!DOCTYPE html>
<html>
<head>
  <title>fiRst</title>
  <link href="assets/home.css" rel="stylesheet">
  <!-- =<%= stylesheet_link_tag 'default', media: 'all', 'data-turbolinks-track' => true %> !-->
</head>
<body>
	<div class="main">
		<div>
		<h1>Abracadabra! What else are you especting to see here?</h1>
		</div>
	</div>
<%= yield %>

</body>
</html>